{% extends 'user/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/confirm.css' %}">
{% endblock %}
{% block content %}
    <div class="confirm_box">
        <form method="POST" action="restore_pass">
            <h1>
                Сброс пароля
            </h1>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <input type="submit" class="btn btn-primary" value="Далее">
            {% endbuttons %}
        </form>
    </div>
{% endblock %}