{% extends 'user/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/confirm.css' %}">
{% endblock %}
{% block content %}
    <div class="confirm_box">
        <h1>
            Сброс пароля
        </h1>
        <form method="POST" action="confirm_personality">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <input type="submit" class="btn btn-primary" value="Поменять">
            {% endbuttons %}
        </form>
    </div>
{% endblock %}